
.wrapper {
  @apply flex flex-col gap-2 items-center justify-center
}

.divider {
  @apply border-t border-gray-300 relative w-60 uppercase text-sm text-gray-400
}

.divider::before {
  content: '';
  top: -5px;
  left: -2px;
  @apply w-2 h-2 rounded-xl bg-gray-400 block absolute
}

.divider::after {
  content: '';
  top: -5px;
  right: -2px;
  @apply w-2 h-2 rounded-xl bg-gray-400 block absolute
}

.pointFrom {
  @apply absolute -left-3 -top-7
}

.pointTo {
  @apply absolute -right-3 -top-7
}

.timeWay {
  @apply text-sm text-gray-400
}
